# Multinomial Logistic Regression

In this script we use multinomial logistic regression to predict the handwritten digits of the MNIST dataset.

In [1]:
# !pip install geemap
from geemap import ml

In [49]:
with open("use_files/landsatDataNP_import.csv", "r") as csv_file:
  data = csv_file.read()

with open("use_files/landsatDataNP.csv", "w") as csv_file:
  csv_file.write(data)

In [50]:
import pandas as pd
land = pd.read_csv("use_files/landsatDataNP.csv")
land.head()

,ID,B1,B2,B3,B4,B5,B6,B7,NDWI,NDVI,MNDWI,NDBI,elevation,LULC
0,0_0,755.0,1205.5,1710.0,2739.0,3260.0,3060.0,2450.0,-0.086848,0.231288,-0.460083,0.086848,797,4
1,1_0,433.0,474.0,392.0,1914.0,1332.0,2970.0,489.0,0.179298,0.660017,-0.475083,-0.179298,164,1
2,2_0,868.0,1112.0,1187.0,2491.0,2498.0,2980.0,1771.0,-0.001403,0.354541,-0.383934,0.001403,125,4
3,3_0,528.0,659.0,756.5,1989.5,1808.0,2809.5,1311.5,0.047795,0.449017,-0.465748,-0.047795,3643,1
4,4_0,447.5,591.0,624.5,1351.0,1530.0,2850.0,1123.0,-0.062131,0.367755,-0.442716,0.062131,1029,4

In [51]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [52]:
# first_row = ['ID', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'NDWI', 'NDVI', 'MNDWI', 'NDBI', 'elevation', 'LULC']

main_data = pd.read_csv('use_files/landsatDataNP.csv') 
# main_data = pd.read_csv('/content/landsatDataNP.csv', names = first_row) 
band_df = pd.DataFrame(main_data)
# band_df.Class = band_df.Class - 1

In [53]:
band_df.head()

,ID,B1,B2,B3,B4,B5,B6,B7,NDWI,NDVI,MNDWI,NDBI,elevation,LULC
0,0_0,755.0,1205.5,1710.0,2739.0,3260.0,3060.0,2450.0,-0.086848,0.231288,-0.460083,0.086848,797,4
1,1_0,433.0,474.0,392.0,1914.0,1332.0,2970.0,489.0,0.179298,0.660017,-0.475083,-0.179298,164,1
2,2_0,868.0,1112.0,1187.0,2491.0,2498.0,2980.0,1771.0,-0.001403,0.354541,-0.383934,0.001403,125,4
3,3_0,528.0,659.0,756.5,1989.5,1808.0,2809.5,1311.5,0.047795,0.449017,-0.465748,-0.047795,3643,1
4,4_0,447.5,591.0,624.5,1351.0,1530.0,2850.0,1123.0,-0.062131,0.367755,-0.442716,0.062131,1029,4

In [54]:
# band_df["B1"] = band_df["B1"] .div(20000)
# band_df["B2"] = band_df["B2"].div(20000)
# band_df["B3"] = band_df["B3"].div(20000)
# band_df["B4"] = band_df["B4"].div(20000)
# band_df["B5"] = band_df["B5"].div(20000)
# band_df["B6"] = band_df["B6"].div(20000)
# band_df["B7"] = band_df["B7"].div(20000)
# band_df["elevation"] = band_df["elevation"].div(10000)

band_df["B1"] = band_df["B1"] 
band_df["B2"] = band_df["B2"]
band_df["B3"] = band_df["B3"]
band_df["B4"] = band_df["B4"]
band_df["B5"] = band_df["B5"]
band_df["B6"] = band_df["B6"]
band_df["B7"] = band_df["B7"]
band_df["elevation"] = band_df["elevation"]

band_df

,ID,B1,B2,B3,B4,B5,B6,B7,NDWI,NDVI,MNDWI,NDBI,elevation,LULC
0,0_0,755.0,1205.5,1710.0,2739.0,3260.0,3060.0,2450.0,-0.086848,0.231288,-0.460083,0.086848,797,4
1,1_0,433.0,474.0,392.0,1914.0,1332.0,2970.0,489.0,0.179298,0.660017,-0.475083,-0.179298,164,1
2,2_0,868.0,1112.0,1187.0,2491.0,2498.0,2980.0,1771.0,-0.001403,0.354541,-0.383934,0.001403,125,4
3,3_0,528.0,659.0,756.5,1989.5,1808.0,2809.5,1311.5,0.047795,0.449017,-0.465748,-0.047795,3643,1
4,4_0,447.5,591.0,624.5,1351.0,1530.0,2850.0,1123.0,-0.062131,0.367755,-0.442716,0.062131,1029,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99633,99995_0,588.0,805.0,1090.0,2178.5,3580.0,2954.5,2592.5,-0.243379,0.333027,-0.632839,0.243379,4376,3
99634,99996_0,1052.5,1244.0,1341.5,1423.5,1314.0,2880.5,1220.5,0.040000,0.029656,-0.027365,-0.040000,5097,3
99635,99997_0,590.5,833.0,797.5,2267.0,1754.5,2987.5,1005.5,0.127440,0.479524,-0.356135,-0.127440,143,4
99636,99998_0,863.0,1165.0,1725.0,2568.0,3954.0,2881.0,2766.0,-0.212511,0.196366,-0.544833,0.212511,3972,3
99637,99999_0,293.0,316.0,254.5,921.0,432.0,2880.0,191.0,0.361419,0.566993,-0.155080,-0.361419,1004,1

In [55]:
Y = band_df.loc[:,'LULC'].values
X = band_df.loc[:,'B1':'elevation'].values

#we split the dataset into a test and training set
train_x, test_x, train_y, test_y = train_test_split(X,Y , test_size=0.3, random_state=0)
clf = LogisticRegression(solver='saga',multi_class='multinomial')

In [56]:
clf.fit(train_x, train_y)
clf.score(test_x, test_y)

c:\python\python38\lib\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

0.7283554128194835

In [57]:
#Print model parameters
print('Intercept: \n', clf.intercept_)
print('Coefficients: \n', clf.coef_)

Intercept:
 [-8.00073751e-07  9.71358736e-08 -1.96266047e-06  1.11032826e-06
  8.10095091e-08  4.75184463e-07  8.63306695e-07  1.35769424e-07]
Coefficients:
 [[ 5.53116312e-04 -2.62364156e-03 -8.40583426e-05  1.83466192e-03
   1.36905109e-03  1.49466156e-03 -3.97598326e-03  4.36135498e-06
   3.49087661e-05 -3.12280421e-05 -4.36135498e-06 -2.82493889e-04]
 [ 5.16994086e-04 -6.05351686e-04 -7.72541130e-04  1.57236191e-04
   1.86700961e-03 -3.90797181e-06 -2.21485940e-03 -9.82528307e-07
  -1.86686050e-07  9.98258778e-07  9.82528307e-07  3.62045152e-04]
 [ 4.56452307e-06  5.55559544e-04  2.47466747e-05 -3.25407402e-04
   1.74488174e-03 -3.50455771e-04 -1.27410820e-03 -1.36982498e-05
  -6.29555413e-07 -1.49946406e-05  1.36982498e-05  6.78646593e-04]
 [-8.30876009e-04 -5.84486349e-04  3.71589145e-04  1.19763583e-03
   1.46535776e-03  6.33445672e-04 -1.32761069e-03 -4.04669699e-06
  -5.63245130e-06  7.13786213e-07  4.04669699e-06 -1.00141818e-03]
 [-6.98921886e-05  6.85179680e-04  6.26087609e-05 -5.88790501e-05
  -3.12175241e-03 -3.41729010e-05  4.19113856e-03 -3.33943448e-06
  -2.11538081e-05  1.82829749e-05  3.33943448e-06  4.39236566e-04]
 [-5.02544410e-04  1.52186424e-03  6.33260507e-04 -2.68449206e-03
  -1.21274589e-03  1.56935005e-03  1.63149079e-03  3.36535529e-07
  -4.39455758e-06  4.91023921e-06 -3.36535529e-07 -1.52896998e-03]
 [-6.68381614e-05  6.55497195e-04  4.77672794e-05  2.07268278e-04
  -1.63851719e-03 -3.45290378e-03  1.94618733e-03  1.78025839e-05
  -2.35799300e-06  2.11407548e-05 -1.78025839e-05  2.42834782e-03]
 [ 3.95475847e-04  3.95378942e-04 -2.83372895e-04 -3.28023708e-04
  -4.73284722e-04  1.43983137e-04  1.02374487e-03 -4.33564844e-07
  -5.53714597e-07  1.76668813e-07  4.33564844e-07 -1.09539408e-03]]

# Same thing again Ignore

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20, random_state = 5)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(79710, 12)
(19928, 12)
(79710,)
(19928,)

In [12]:
# model1 = LogisticRegression(random_state=0, multi_class='multinomial', penalty='none', solver='newton-cg').fit(X_train, y_train)
# preds = model1.predict(X_test)

In [13]:
# model1.score(X_test, y_test)

In [14]:
#print the tunable parameters (They were not tuned in this example, everything kept as default)
# params = model1.get_params()
# print(params)

In [15]:
#Print model parameters
# print('Intercept: \n', model1.intercept_)
# print('Coefficients: \n', model1.coef_)

# Random forest classifier

In [16]:
from sklearn import ensemble

In [58]:
# feature_names = ['B2', 'B3', 'B4', 'B5', 'B6', 'B7']
# label = "landcover"
feature_names = ['B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'NDWI', 'NDVI', 'MNDWI', 'NDBI', 'elevation']
label = 'LULC'

In [59]:
df = band_df 
# Already divided by 20k and 10k

In [60]:
X = df[feature_names].head(4200)
y = df[label].head(4200)

n_trees = 10 
rf = ensemble.RandomForestClassifier(n_trees).fit(X,y)

trees =  ml.rf_to_strings(rf,feature_names)

# print the first tree to see the result
# print(trees[0])
# print(trees[1])

ml.trees_to_csv(trees, "trees_all_4200.csv")

In [66]:
rf.score(test_x, test_y)

0.7493978321959053

In [ ]:
# import time
# for i in range(1000, 26000, 5000):

#   start_time = time.time()

#   X = df[feature_names].head(i)
#   y = df[label].head(i)

#   n_trees = 10 
#   rf = ensemble.RandomForestClassifier(n_trees).fit(X,y)

#   trees =  ml.rf_to_strings(rf,feature_names)

#   # print the first tree to see the result
#   # print(trees[0])
#   # print(trees[1])

#   ml.trees_to_csv(trees, "trees" + str(i) + ".csv")
#   print("Rows number: ", i , "  %s seconds" % (time.time() - start_time))

In [ ]:
# upload data to online for later use

In [26]:
import geemap
import ee
ee.Initialize()

In [61]:
user_id = geemap.ee_user_id()

In [62]:
asset_id = user_id +  "/random_forest_strings_test"
asset_id

'users/aaditya-rb/random_forest_strings_test'

In [65]:
# kick off an export process so it will be saved to the ee asset
ml.export_trees_to_fc(trees,asset_id)

In [64]:
with open("trees_all_4200.csv", "r") as file1:
    txxx = file1.read()
    
len(txxx)

937814