# Multinomial Logistic Regression

In this script we use multinomial logistic regression to predict the handwritten digits of the MNIST dataset.

In [1]:
# !pip install geemap
from geemap import ml

In [2]:
# with open("use_files/landsatDataNP_import.csv", "r") as csv_file:
#   data = csv_file.read()

# with open("use_files/landsatDataNP.csv", "w") as csv_file:
#   csv_file.write(data)

In [3]:
import pandas as pd
land = pd.read_csv("use_files/managedInput4200_class.csv")
land.head()

,ID,B1,B2,B3,B4,B5,B6,B7,NDWI,NDVI,MNDWI,NDBI,elevation,LULC
0,1_0,433.0,474.0,392.0,1914.0,1332.0,2970.0,489.0,0.179298,0.660017,-0.475083,-0.179298,164,1
1,3_0,528.0,659.0,756.5,1989.5,1808.0,2809.5,1311.5,0.047795,0.449017,-0.465748,-0.047795,3643,1
2,8_0,129.0,205.0,185.0,693.0,592.0,2722.0,415.0,0.078599,0.578588,-0.485571,-0.078599,3515,1
3,11_0,601.5,822.5,977.0,1924.5,2240.0,3032.0,1687.0,-0.075759,0.326555,-0.462857,0.075759,1076,1
4,14_0,587.0,788.0,837.0,1985.0,2398.0,2980.0,1672.0,-0.094228,0.406804,-0.505336,0.094228,184,1

In [4]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [5]:
# first_row = ['ID', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'NDWI', 'NDVI', 'MNDWI', 'NDBI', 'elevation', 'LULC']

main_data = pd.read_csv('use_files/landsatDataNP.csv') 
# main_data = pd.read_csv('/content/landsatDataNP.csv', names = first_row) 
band_df = pd.DataFrame(main_data)
# band_df.Class = band_df.Class - 1

In [6]:
band_df.head()

,ID,B1,B2,B3,B4,B5,B6,B7,NDWI,NDVI,MNDWI,NDBI,elevation,LULC
0,0_0,755.0,1205.5,1710.0,2739.0,3260.0,3060.0,2450.0,-0.086848,0.231288,-0.460083,0.086848,797,4
1,1_0,433.0,474.0,392.0,1914.0,1332.0,2970.0,489.0,0.179298,0.660017,-0.475083,-0.179298,164,1
2,2_0,868.0,1112.0,1187.0,2491.0,2498.0,2980.0,1771.0,-0.001403,0.354541,-0.383934,0.001403,125,4
3,3_0,528.0,659.0,756.5,1989.5,1808.0,2809.5,1311.5,0.047795,0.449017,-0.465748,-0.047795,3643,1
4,4_0,447.5,591.0,624.5,1351.0,1530.0,2850.0,1123.0,-0.062131,0.367755,-0.442716,0.062131,1029,4

In [7]:
# band_df["B1"] = band_df["B1"] .div(20000)
# band_df["B2"] = band_df["B2"].div(20000)
# band_df["B3"] = band_df["B3"].div(20000)
# band_df["B4"] = band_df["B4"].div(20000)
# band_df["B5"] = band_df["B5"].div(20000)
# band_df["B6"] = band_df["B6"].div(20000)
# band_df["B7"] = band_df["B7"].div(20000)
# band_df["elevation"] = band_df["elevation"].div(10000)

band_df["B1"] = band_df["B1"] 
band_df["B2"] = band_df["B2"]
band_df["B3"] = band_df["B3"]
band_df["B4"] = band_df["B4"]
band_df["B5"] = band_df["B5"]
band_df["B6"] = band_df["B6"]
band_df["B7"] = band_df["B7"]
band_df["elevation"] = band_df["elevation"]

band_df

,ID,B1,B2,B3,B4,B5,B6,B7,NDWI,NDVI,MNDWI,NDBI,elevation,LULC
0,0_0,755.0,1205.5,1710.0,2739.0,3260.0,3060.0,2450.0,-0.086848,0.231288,-0.460083,0.086848,797,4
1,1_0,433.0,474.0,392.0,1914.0,1332.0,2970.0,489.0,0.179298,0.660017,-0.475083,-0.179298,164,1
2,2_0,868.0,1112.0,1187.0,2491.0,2498.0,2980.0,1771.0,-0.001403,0.354541,-0.383934,0.001403,125,4
3,3_0,528.0,659.0,756.5,1989.5,1808.0,2809.5,1311.5,0.047795,0.449017,-0.465748,-0.047795,3643,1
4,4_0,447.5,591.0,624.5,1351.0,1530.0,2850.0,1123.0,-0.062131,0.367755,-0.442716,0.062131,1029,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99633,99995_0,588.0,805.0,1090.0,2178.5,3580.0,2954.5,2592.5,-0.243379,0.333027,-0.632839,0.243379,4376,3
99634,99996_0,1052.5,1244.0,1341.5,1423.5,1314.0,2880.5,1220.5,0.040000,0.029656,-0.027365,-0.040000,5097,3
99635,99997_0,590.5,833.0,797.5,2267.0,1754.5,2987.5,1005.5,0.127440,0.479524,-0.356135,-0.127440,143,4
99636,99998_0,863.0,1165.0,1725.0,2568.0,3954.0,2881.0,2766.0,-0.212511,0.196366,-0.544833,0.212511,3972,3
99637,99999_0,293.0,316.0,254.5,921.0,432.0,2880.0,191.0,0.361419,0.566993,-0.155080,-0.361419,1004,1

In [8]:
Y = band_df.loc[:,'LULC'].values
X = band_df.loc[:,'B1':'elevation'].values

#we split the dataset into a test and training set
train_x, test_x, train_y, test_y = train_test_split(X,Y , test_size=0.3, random_state=0)
clf = LogisticRegression(solver='saga',multi_class='multinomial')

In [9]:
clf.fit(train_x, train_y)
clf.score(test_x, test_y)

C:\Users\issue song\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

0.7283554128194835

In [10]:
#Print model parameters
print('Intercept: \n', clf.intercept_)
print('Coefficients: \n', clf.coef_)

Intercept:
 [-8.02518994e-07  9.62626759e-08 -1.96043561e-06  1.11368046e-06
  8.45206927e-08  4.74545363e-07  8.57808607e-07  1.36136805e-07]
Coefficients:
 [[ 5.53123767e-04 -2.62083250e-03 -8.52674434e-05  1.83336471e-03
   1.37239150e-03  1.49453608e-03 -3.97955543e-03  4.38632194e-06
   3.49456029e-05 -3.12694666e-05 -4.38632194e-06 -2.82412904e-04]
 [ 5.17496693e-04 -6.06321523e-04 -7.73612410e-04  1.58381519e-04
   1.86361175e-03 -3.83342238e-06 -2.21052733e-03 -9.81737583e-07
  -2.16074609e-07  1.03631503e-06  9.81737583e-07  3.62036913e-04]
 [ 4.90917843e-06  5.56176152e-04  2.35206852e-05 -3.25298814e-04
   1.74477793e-03 -3.50520743e-04 -1.27362305e-03 -1.37063765e-05
  -6.68983037e-07 -1.49385820e-05  1.37063765e-05  6.78697865e-04]
 [-8.32337049e-04 -5.80004136e-04  3.69985770e-04  1.19637465e-03
   1.46815332e-03  6.33340430e-04 -1.33053715e-03 -4.06004581e-06
  -5.58702744e-06  6.60187309e-07  4.06004581e-06 -1.00135616e-03]
 [-6.95470963e-05  6.85703240e-04  6.13272349e-05 -5.87157534e-05
  -3.12211983e-03 -3.42856045e-05  4.19185963e-03 -3.31090343e-06
  -2.11688349e-05  1.83239325e-05  3.31090343e-06  4.39333960e-04]
 [-5.00430695e-04  1.51444468e-03  6.38094464e-04 -2.68380474e-03
  -1.21436044e-03  1.56970345e-03  1.63238764e-03  3.30629888e-07
  -4.39404770e-06  4.90364700e-06 -3.30629888e-07 -1.52929931e-03]
 [-6.64859217e-05  6.56028394e-04  4.65112785e-05  2.07432945e-04
  -1.63891860e-03 -3.45306094e-03  1.94695106e-03  1.77762574e-05
  -2.35599474e-06  2.11083741e-05 -1.77762574e-05  2.42847469e-03]
 [ 3.93271123e-04  3.94805691e-04 -2.80559580e-04 -3.27734513e-04
  -4.73535636e-04  1.44120753e-04  1.02304462e-03 -4.34145979e-07
  -5.54640479e-07  1.75592646e-07  4.34145979e-07 -1.09547506e-03]]

# Same thing again Ignore

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.20, random_state = 5)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(79710, 12)
(19928, 12)
(79710,)
(19928,)

In [12]:
# model1 = LogisticRegression(random_state=0, multi_class='multinomial', penalty='none', solver='newton-cg').fit(X_train, y_train)
# preds = model1.predict(X_test)

In [13]:
# model1.score(X_test, y_test)

In [14]:
#print the tunable parameters (They were not tuned in this example, everything kept as default)
# params = model1.get_params()
# print(params)

In [15]:
#Print model parameters
# print('Intercept: \n', model1.intercept_)
# print('Coefficients: \n', model1.coef_)

# Random forest classifier

In [16]:
from sklearn import ensemble

In [17]:
# feature_names = ['B2', 'B3', 'B4', 'B5', 'B6', 'B7']
# label = "landcover"
feature_names = ['B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'NDWI', 'NDVI', 'MNDWI', 'NDBI', 'elevation']
label = 'LULC'

In [18]:
df = band_df 
# Already divided by 20k and 10k

In [19]:
X = df[feature_names].head(4200)
y = df[label].head(4200)

n_trees = 10 
rf = ensemble.RandomForestClassifier(n_trees).fit(X,y)

trees =  ml.rf_to_strings(rf,feature_names)

# print the first tree to see the result
# print(trees[0])
# print(trees[1])

ml.trees_to_csv(trees, "trees_equal_class_4200.csv")

In [20]:
rf.score(test_x, test_y)

0.7461528168071725

In [21]:
# import time
# for i in range(1000, 26000, 5000):

#   start_time = time.time()

#   X = df[feature_names].head(i)
#   y = df[label].head(i)

#   n_trees = 10 
#   rf = ensemble.RandomForestClassifier(n_trees).fit(X,y)

#   trees =  ml.rf_to_strings(rf,feature_names)

#   # print the first tree to see the result
#   # print(trees[0])
#   # print(trees[1])

#   ml.trees_to_csv(trees, "trees" + str(i) + ".csv")
#   print("Rows number: ", i , "  %s seconds" % (time.time() - start_time))

In [22]:
# upload data to online for later use

In [24]:
import geemap
import ee,os
os.environ['HTTP_PROXY'] = 'http://127.0.0.1:7890'
os.environ['HTTPS_PROXY'] = 'http://127.0.0.1:7890'
ee.Initialize()

In [25]:
user_id = geemap.ee_user_id()

In [26]:
asset_id = user_id +  "/random_forest_strings_equal_class"
asset_id

'users/wufvckshuo/random_forest_strings_equal_class'

In [27]:
# kick off an export process so it will be saved to the ee asset
ml.export_trees_to_fc(trees,asset_id)

In [28]:
with open("trees_equal_class_4200.csv", "r") as file1:
    txxx = file1.read()
    
len(txxx)

831110